<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Calculator</title>
</head>
<body>
    <h2>Basic Calculator</h2>
    <!-- <style  -->
    <form method="POST">
        <input type="number" name="num1" placeholder="Enter first number" required>
        <input type="number" name="num2" placeholder="Enter second number" required><br><br>

        <button type="submit" name="operation" value="add">Add</button>
        <button type="submit" name="operation" value="sub">Subtract</button>
        <button type="submit" name="operation" value="multi">Multiply</button>
        <button type="submit" name="operation" value="div">Divide</button>
    </form>
    
    
        <h3>Result: {{ result }}</h3>
 
</body>
</html>
