 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document1</title>
</head>
<body>
  
<form action="{{url_for('form1')}}"method="post">
<input type="text" name="maths" placeholder="Maths" required/>
<input type="text" name="chem" placeholder="Chem" required/>
<input type="text" name="phy" placeholder="Phy" required/>
<button type="submit" class ="btn btn-primary btn-block btn-large" >Submit</button>
</form>
  <h1>
The average marks is {{score}}
    </h1>
</body>
</html> 
